/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

body{
 
  background-image: url('/Users/hannahgoldman/Desktop/100Devs /class27-materials/api-template/img/stars2.jpg');
  background-color: black;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

.animation{
  display: flex;
  justify-content: space-around;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 70%;
}

p{
 
  margin: 0 auto;
  margin-top: 10px;
  color: rgb(177, 171, 171);
  white-space: nowrap;
    overflow: hidden;   
    text-align: center; 
  }


h3{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: rgb(177, 171, 171);
}


 h2, h1{
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 25%;
  color: rgb(177, 171, 171);
}
  

p{
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
/*text animations*/

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}
/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(176, 38, 218, 0.75);}
  to{border-right-color: transparent;}
}


section{
  margin-top: 30px;
  text-align: center;
}

input, button{
  background-color: rgb(37, 36, 36);
  color: white;
  border-radius: 10%;
  box-shadow: none;
  cursor:pointer;
}

button:hover{
  background-color: rgb(77, 34, 77);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo{
  padding-top: 100px;
  width: 20%;
}

